//@extend-elements
%extend_1 {
	font-size: 12px;
	font-size: .75rem;
	line-height: 1.5;
	white-space: nowrap;
	margin: 0 2px;
	padding: 0 5px;
	border: 0;
	border-radius: 3px;
}

$titleFont: Ek Mukta, serif;

@import url("https://fonts.googleapis.com/css?family=Ek+Mukta");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif");
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:900");

body {
  background: $bg-color;
  margin: 0px;
}

.bisey {
  background: red;
}

.orta {
  background: $mainColor;
  height: 230px;
  width: auto;
  margin-top: 10px;
  box-shadow: 0px 0px 20px 2px rgba(71, 71, 71, 1);
}

.baslik {
  font-size: 60px;
  text-align: center;
  font-family: $titleFont;
  text-shadow: 1px 1px 5px #000;
  color: #FFF;
  margin-top: 130px;
	opacity: 1;
}

.ortala {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.resim {
  margin-top: 30px;
  width: 170px;
  height: 170px;
  float: left;
  border-radius: 90px;
  background: $bg-color;
  box-shadow: 0px 0px 20px 2px rgba(82, 82, 82, 1) inset;
	opacity: 1;
	img	{
  	border-radius: 90px;
	  width: 170px;
	  height: 170px;
	}
}


.aciklamalar {
  font-family: $titleFont;
  margin-left: 50;
  float: left;
  font-size: 20px;
  margin-top: 25px;
  color: $actionable;
	opacity: 1;
}

@keyframes orta {
  0% {
    height: 230px;
    margin-top: 10px;
  }

  100% {
    height: 230px;
    margin-top: 10px;
  }
}

.ustr {
	width: auto;
	height: 60px;
}
.ust {
  background-color: $mainColor;
  width: auto;
  margin-top: 0px;
  height: 70px;
  box-shadow: 0px 0px 10px 1px rgba(82, 82, 82, .6);
}

.baslikAna {
  font-size: 50px;
  color: $bg-color;
  text-shadow: rgba(255, 255, 255, .2) 3px 2px 3px;
  float: left;
  font-family: $titleFont;
}

.ortalaAna {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.yazi, .yaziUzun {
  margin-right: 5px;
	margin-left: 5px;
  margin-top: 10px;
  background-color: $mainColor;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 1px rgba(82, 82, 82, 0.1);
  font-family: "$titleFont Slab", serif;
	opacity: 1;
}

.programcerceve {
  width: 990px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: $mainColor;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 1px rgba(82, 82, 82, .6);
  float: left;

  h2 {
    margin-left: 15px;
    color: $bg-color;
    float: left;
    margin-top: 15px;
    margin-bottom: 5px;
  }
}

.ustr h2 {
  margin-left: 15px;
  color: $bg-color;
  float: left;
  margin-top: 15px;
  margin-bottom: 5px;
}

.yaziUzun h2 {
  margin-left: 15px;
  color: #d35400;
  float: left;
  margin-top: 15px;
  margin-bottom: 0px;
}

.ustr h2 a, .yaziUzun h2 a {
  text-decoration: none;
  color: $bg-color;
  float: left;
}

.ustr h2 a:hover, .yaziUzun h2 a:hover {
  color: $actionable;
}

@import url("https://fonts.googleapis.com/css?family=$titleFont+Slab");

.ustr p, .yaziUzun p {
  padding: 15px;
  font-size: 15px;
  color: rgba(82, 82, 82, .8);
  width: 100%;
  font-family: "$titleFont Slab", serif;
}

.yazilar {
  float: left;
  width: 1000px;
}

.programim {
  float: center;
  width: 1000px;
}

.yazibilgisi {
  color: rgba(81, 81, 81, .4);
  font-size: 12px;
  float: right;
	margin-right: 20px;
	line-height: 60px;
  font-family: $titleFont;
}

.yaziBilgisiUzun {
  margin-bottom: 0px;
  color: rgba(81, 81, 81, .4);
  font-size: 12px;
  float: right;
  margin-top: 0px;
  margin-right: 50px;
  font-family: $titleFont;
}

.yazi hr, .yaziUzun hr {
	margin: 0px;
  float: left;
  width: 95%;
  margin-left: 20px;
  border: 1px solid $bg-color;
	color: $bg-color;
}

h3, h4 {
	margin-top: 2px;
	margin-bottom: 2px;
}

p {
	margin-top: .5em;
	margin-bottom: .5em;
	color: $text;
}


.widget {
  width: 280px;
  margin-top: 10px;
  background-color: $mainColor;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 1px rgba(82, 82, 82, .6);
  float: right;
  text-align: center;

  h3 {
    margin-left: 15px;
    color: $bg-color;
    font-family: $titleFont;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  li {
    height: 20px;
    margin: 5px;
    list-style: circle;
    color: $bg-color;

    a {
      text-decoration: none;
      margin: 5px;
      color: $bg-color;
      padding: 2px;

      &:hover {
        padding: 2px;
        color: #000;
        border-radius: 5px;
        text-decoration: none;
        background-color: $actionable;
      }
    }
  }

  hr {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid $bg-color;
  }
}


ul.menuAna {
  font-size: 25px;
  margin-top: 15px;
  margin-left: 20px;
  float: left;
  display: block;
  list-style: none;
  height: 50px;

  li {
    float: left;
		padding-top: 15px;
  }

  a {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: $ul-menuAna-actionable;
    float: left;
    font-family: "Alegreya Sans SC", sans-serif;
    text-decoration: none;

    &:hover {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5px;
      border-bottom: 5px solid $ul-menuAna-hover;
      color: $ul-menuAna-hover;
      float: left;
      font-family: "Alegreya Sans SC", sans-serif;
      text-decoration: none;
    }
  }
}

.secili {
  border-bottom: 5px solid $actionable;

  &:hover {
    border-bottom: 0px solid rgba(0, 0, 0, .6);
  }
}

.widget ul {
  text-align: left;
  color: rgba(0, 0, 0, .8);
}

.sag {
  float: left;
  width: 280px;
}

.footer {
  float: left;
  margin-top: 20px;
  width: 100%;
  font-family: $titleFont;
  background: $mainColor;
  box-shadow: 0px 0px 10px 2px rgba(82, 82, 82, 1);
	opacity: 1;
}

.copy {
  font-size: 18px;
  margin-top: 20px;
  color: $bg-color;
	text-align: center;
	img	{
		width: 20px;
		height: 20px;
		float: left;
	}
}

/* Scrollbar */

::-webkit-scrollbar {
	height: 6px;
	width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $mainColor;
	border-radius: 3px;
  &:hover {
		background-color: #2980b9;
		box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
  }
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

/* End Scrollbar */

::selection {
  background: #f39c12;

  /* WebKit/Blink Browsers */
  color: #000;
}

.programlar {
  margin-top: 40px;
}

.program {
  background-color: $mainColor;
  width: 220px;
  margin: 10px;
  box-shadow: 0px 0px 10px 1px rgba(82, 82, 82, .6);
  float: left;
	opacity: 1;
}

.urunResmi {
  height: 150px;
  width: 180px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
	img {
		  height: 150px;
		  width: 180px;
	}
}

.urunAdi {
  text-align: center;
  font-size: 20px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Alegreya Sans SC", sans-serif;
	a {
		color: $bg-color;
		&:hover {
			cursor: pointer;
			color: $actionable;
		}
	}
}

.fiyatVeOs {
  text-align: center;
}

.fiyat {
  a {
    margin-left: 30px;
    display: inline-block;
    padding: 5px;
    border: 2px solid $bg-color;
    border-radius: 3px;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      background-color: $bg-color;
      color: $mainColor;
    }
  }
}

.aciklamaUrun {
  padding: 5px;
  color: rgba(0, 0, 0, .9);
  font-size: 13px;
	text-align: center;
}

.windows {
  background-image: url("http://alperenbozkurt.tk/img/Windows.png");
  background-size: cover;
  float: right;
  margin-right: 10px;
  border-radius: 3px;
  height: 30px;
  width: 30px;
}

/*Programlar.php Bitti
 *İletişim.php yapılmaya başlandı. */

.iletisim {
  margin-top: 40px;
  height: 450px;
  width: 990px;
  box-shadow: 0px 0px 10px 1px rgba(82, 82, 82, .6);
  border-radius: 3px;
  background-color: $mainColor;
}

.hakkimda {
  width: 990px;
  float: left;
  font-size: 18px;

  h2 {
    padding-top: 20px;
    padding-left: 20px;
    color: $bg-color;
    font-family: $titleFont;
  }

  p {
    color: rgba(0, 0, 0, .6);
    padding-left: 10px;
  }
}

.iletisimBilgileri {
  width: 445px;
  float: left;
  padding: 10px;
  text-align: center;

  h3 {
    padding-left: 10px;
    color: $bg-color;
    font-family: $titleFont;
  }

  p {
    color: rgba(0, 0, 0, .6);
  }
}


#disqus_thread {
  padding: 20px;
}

.social-links {
	text-align: center;
	opacity: 1;
	.fa {
		margin: 5px;
		margin-top: 30px;
		padding: 5px;
		color: $mainColor;
	  text-shadow: 1px 1px 5px #000;
		&:hover{
			color: #FFF;
		  text-shadow: 1px 1px 10px #000;
		}
	}
}
.sosyal {
	.fa {
		margin-top: 10px !important;
		color: $bg-color !important;
	  text-shadow: 1px 1px 1px rgba(81, 81, 81, 0.3) !important;
		&:hover{
		  text-shadow: 1px 1px 4px rgba(81, 81, 81, 1) !important;
		}
	}
}
.content {
	padding: 30px;
	color: $text;
}
.notice {
    margin-top: 1.5em;
    padding: .5em 1em;
    text-indent: 0;
    @include font-rem(14);
    background-color: rgba(81,81,81, 1);
    border: 1px solid rgba(180,81,81, 1);
    @include rounded(3px);

}
ul.menu {
  font-size: 28px;
  margin-top: 75px;
  margin-left: 20px;
  float: left;
  display: block;
  list-style: none;
  height: 50px;
	opacity: 1;

  li {
    float: left;
    display: block;

    a {
      padding: 10px;
      border-radius: 6px;
      color: $bg-color;
      float: left;
      text-decoration: none;
      font-family: "Alegreya Sans SC", sans-serif;

      &:hover {
        padding: 10px;
        border-radius: 3px;
        background-color: $bg-color;
        text-shadow: 1px 1px 5px #000;
        color: $mainColor;
        box-shadow: inset 0px 0px 10px 2px rgba(81, 81, 81, .6);
        float: left;
        text-decoration: none;
      }
    }
  }
}

.menuAc{
	display: none;
}
.menuMobil {
	display: none;
}
@media (min-width: 700px) and (max-width: 1000px) {
	.ortala{
		width: 90%;
	}
	.ortalaAna{
		width: 100%;
	}
	.yazilar{
		width: 100%;
	}
}
@media (max-width: 700px) {
	.menuAc{
		font-size: 28px;
	  float: left;
	  list-style: none;
		opacity: 1;
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		margin: 10px;
		color: $mainColor;
	  height: 50px;
		z-index: 2;
		text-shadow: 1px 1px 2px rgba(81, 81, 81, 0.3) !important;
		&:hover{
			cursor: pointer;
		  text-shadow: 1px 1px 4px rgba(81, 81, 81, 1) !important;
		}
	}
	.menuMobil {
		display: none;
		position: absolute;
		background-color: red;
		top: 0px;
		right: 0px;
		width: 200px;
		height: 100vh;
		z-index: 1;
		background-color: $mainColor;
		box-shadow: 0px 0px 20px 2px rgba(71, 71, 71, 1);
	}
	ul.menu {
	  font-size: 28px;
		margin-left: 20px;
		margin-right: 20px;
	  display: block;
		padding: 0px;
	  list-style: none;
		float: left;
	  height: 50px;
	  li {
	    display: block;
	    a {
	      padding: 10px;
	      border-radius: 6px;
	      color: $bg-color;
				width: 140px;
	      text-decoration: none;
	      font-family: "Alegreya Sans SC", sans-serif;

	      &:hover {
	        padding: 10px;
	        border-radius: 3px;
	        background-color: $bg-color;
	        text-shadow: 1px 1px 5px #000;
	        color: $mainColor;
	        box-shadow: inset 0px 0px 10px 2px rgba(81, 81, 81, .6);
	        text-decoration: none;
	      }
	    }
	  }
	}
	.ortala{
		width: 90%;
		padding-top: 15px;
	}
	.ortalaAna{
		width: 100%;
	}
	.yazilar{
		width: 100%;
	}
	.yazibilgisi{
		display: none;
	}
	.resim{
		float: none;
		margin-top: 0px;
		margin-left: auto;
		margin-right: auto;
	}
	.aciklamalar {
		text-align: center;
		float: none;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;
	}
	.pc {
		display: none;
	}
}
